.container{
    background-color: white; 
    height: 80vh;
    border-radius: 25px;
    outline: none !important;

    
}

.inputContainer{
    display: flex;
    justify-content: center;
}

.input{
    margin: 2% 1% 2% 0%;
    border-top:0;
    border-left:0;
    border-right:0;
    border-color: rgb(0, 0,255,0.3);
    outline: 0;
    font-size: 20px;
    text-align: center;
    width: 10%;
    
}

.buttonContainer{
    border-radius: 25px;
    width: 99%;
    padding-top:10px;
    display: flex;
    justify-content: flex-end;
}