body{
    margin: 0;
    padding: 0;
    outline: none !important;
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerContainer{
    /* border: solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 172, 115); 
    color: white;
    padding: 3% 0 3% 0%;
    margin-bottom: 6%;
}
.header{
    font-size: 35px;
    margin-right: 1%;
}


.modalContainer{
    /* border: solid; */
    width: 100%;
    padding-left: 2%;
    margin-bottom: 14%;
    display: flex;
    justify-content: center;
}

.modalAndButton{
    box-shadow: 0 0 5px rgba(50, 172, 115,.1), 2px 2px 5px rgba(50, 172, 115,1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 25px;
    margin-right: 5%;
    width: 15%;
    height: 400px;
}

#budgetImage{
    width: 80%;
    border-radius: 25px;
    margin-bottom: 10%;
}

#rentImage{
    width: 70%;
    border-radius: 25px;
    margin-top: -2%;
    margin-bottom: 5%;
}

#compoundInterestImage{
    width: 100%;
    border-radius: 25px;
    /* margin-top: -2%; */
    margin-bottom: 10%;
}



.button{
    border: none;
    outline: none;
    background-Color:rgba(3, 209, 109, 0.8);
    border-radius: 15px;
    padding: 2% 4% 2% 4%;
    color: rgb(255, 255, 255);
    margin-bottom: 2%;
    font-size: 15px;
    font-family: 'Oswald', sans-serif;
}

.button:hover{
    background-color: rgb(3, 209, 109);
    cursor: pointer;
    transition: all 0.2s ease-in-out 0s;
}
.modal{
    /* border: solid; */
    margin-top: 4%;
    margin-left: 30%;
    width: 40%;
    outline: none !important; 
}

.fadeIn{
    outline: 0;
}

