.container{
    background-color: white;
    height: 80vh;
    border-radius: 25px;
    outline: none !important;
    /* display: flex; 
    flex-direction: row; */
    /* margin-top: 2%; */

    
}

.contentContainer{
    /* border: 2px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    /* margin-top: 3%; */
}
.step{
    border: 2px solid black;
    /* width: 80%; */
    text-align: center;
}

.inputContainer{
    /* border: 2px solid black; */
    /* width: 40%; */
    /* padding-bottom: 20%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}

.input{
    margin: 0% 2% 2% 0%;

    border-top:0;
    border-left:0;
    border-right:0;
    border-bottom: solid 2px;
    border-color: rgb(0, 0,255,0.3);
    outline: 0;
    font-size: 20px;
    text-align: center;
    /* width: 80%; */
    
}

.selectPlaceHolder{
    display: none;
    color: rgb(0, 0,0,0.5);
    text-align: center;
}

.buttonContainer{
    border-radius: 25px;
    width: 99%;
    padding-top:10px;
    display: flex;
    justify-content: flex-end;
}